$default-font-size: 16px !default;
html{
  font-size: $default-font-size;
}
body{
  margin:0;
  background: #f4f4f4;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
  margin: 0;
  padding: 0;
}
@function toRem($px){
  @return ($px/$default-font-size)*1rem;
}
.nav{
  position: relative;
  z-index: 888;
  background: #fff;
  //width:100%;
  height:toRem(45px);
  padding-left: toRem(30px);
  box-sizing: border-box;
  >ul{
    display: inline-block;
    height:100%;
    //width:calc(100% - #{toRem(124px)});
    >li{
      height:100%;
      float: left;
      list-style: none;
      font-size: toRem(14px);
      color:#666;
      line-height:toRem(45px);
      &.active{
        color:#000;
      }
      &.esp{
        i{
          display: inline-block;
          vertical-align: middle;
          width:toRem(8px);
          height:toRem(5px);
          margin-left: toRem(10px);
          background:url(../images/nav-jiantou-down.png);
          background-size: toRem(8px) toRem(5px);
        }
        .change-bg{
          background:url(../images/nav-jiantou-up.png);
          background-size: toRem(8px) toRem(5px);
        }
        .category-list{
          display: none;
          position: absolute;
          left:0;
          z-index: 999;
          top:toRem(45px);
          width:100%;
          background: #fff;
          >li{
            list-style: none;
            text-align: center;
            a{
              display: inline-block;
              width:calc(100% - #{toRem(40px)});
              font-size: toRem(14px);
              color:#000;
              text-decoration: none;
              text-align:left;
              padding-left: toRem(17px);
              border-bottom:1px solid #e9e9e9;
            }
            &.active{
              a{
                color:#ff6e17;
              }
              background: #f9f9f9;
            }
          }
        }
      }
      &:nth-child(1){
        padding-right: toRem(17px);
      }
      &:nth-child(2){
        padding:0 toRem(17px);
      }
      &:nth-child(3){
        padding: 0 toRem(15px) 0 toRem(17px);
      }
    }
  }
  >a{
    //width:calc(100% - #{toRem(304px)});
    //width:toRem(110px);
    height:toRem(26px);
    display: inline-block;
    vertical-align: top;
    padding: 0 toRem(10px);
    margin: toRem(9px) 0;
    color:#666;
    font-size: toRem(14px);
    line-height: toRem(26px);
    float: right;
    border-left:1px solid #d8d8d8;
    box-sizing: border-box;
    i{
      display: inline-block;
      vertical-align: sub;
      margin-right:toRem(10px);
      width:toRem(15px);
      height:toRem(15px);
      background:url(../images/inputsearch-icon.png);
      background-size: toRem(15px) toRem(15px);
    }
  }
}
.stores{
  margin-top: toRem(12px);
  background: #fff;
  .stores-list{
    padding:0 toRem(11px);
    >li{
      padding:0 toRem(5px) 0 toRem(5px);
      list-style: none;
      border-bottom:1px solid #e9e9e9;
      padding-bottom: toRem(13px);
      padding-top: toRem(16px);
      >div{
        display: inline-block;
        vertical-align: top;
        &:nth-child(1){
          position: relative;
          overflow: hidden;
          width:toRem(100px);
          height:toRem(86px);
          border-radius: toRem(2px);
          margin-right: toRem(8px);
          img{
            width:toRem(100px);
            height:toRem(86px);
          }
          p{
            width:100%;
            height:toRem(20px);
            font-size:toRem(11px);
            color:#fff;
            background: #666;
            position: absolute;
            bottom: 0;
            text-align: center;
            line-height: toRem(20px);
          }
        }
        &:nth-child(2){
          width:calc(100% - #{toRem(116px)});
          h2{
            font-size: toRem(16px);
            color:#000;
            font-weight: normal;
            line-height: toRem(16px);
            i {
              display: inline-block;
              width: toRem(14px);
              height: toRem(14px);
              float: right;
              &:nth-child(2) {
                background: url(../images/pay.png);
                background-size: toRem(14px) toRem(14px);
              }
              &:nth-child(1) {
                background: url(../images/ticket.png);
                background-size: toRem(14px) toRem(14px);
                margin-left: toRem(6px);
              }
            }
          }
          h3{
            margin: toRem(10px) 0 toRem(9px) 0;
            color:#666;
            font-weight: normal;
            font-size: toRem(13px);
            span{
              float: right;
              color:#999;
              font-size: toRem(10px);
            }
          }
          div{
            &:nth-child(1){
              height:toRem(79px);
              padding-top: toRem(7px);
              >ul{
                li{
                  float: left;
                  list-style: none;
                  font-size: toRem(11px);
                  line-height: toRem(11px);
                  color:#666;
                  margin-right: toRem(6px);
                  &:nth-child(2){
                    border-left:1px solid #ccc;
                    padding-left: toRem(6px);
                  }
                  &:nth-child(3){
                    border-left:1px solid #ccc;
                    padding-left: toRem(6px);
                  }
                }
              }
            }
            &:nth-child(2){
              border-top:1px dashed #e9e9e9;
              padding-top: toRem(10px);
              >ul{
                display: inline-block;
                vertical-align: top;
                width:80%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                li{
                  list-style: none;
                  color:#999;
                  font-size: toRem(11px);
                  padding-bottom: toRem(5px);
                  box-sizing: border-box !important;
                  img{
                    display: inline-block;
                    vertical-align: sub;
                    width:toRem(14px);
                    height:toRem(14px);
                    margin-right: toRem(5px);
                  }
                }
              }
              >a{
                display: inline-block;
                color:#999;
                font-size: toRem(11px);
                text-decoration: none;
                float: right;
                i{
                  display: inline-block;
                  vertical-align: middle;
                  width:toRem(6px);
                  height:toRem(3px);
                  margin-left: toRem(7px);
                  background:url(../images/nav-jiantou-down.png);
                  background-size: toRem(6px) toRem(3px);
                }
                .change-bg{
                  background:url(../images/nav-jiantou-up.png);
                  background-size: toRem(6px) toRem(3px);
                }
              }
            }
          }
        }
      }
    }
  }

  .collect{
    display: none;
  }
}

.search{
  position: absolute;
  top:0;
  z-index: 999;
  left:0;
  //right:-100%;
  background: #fff;
  width:100%;
  display:none;
  >div{
    &:nth-child(1){
      height:toRem(45px);
      border:1px solid #e9e9e9;
      input{
        width:toRem(338px);
        height:toRem(31px);
        background: #e9e9e9;
        border-radius: toRem(3px);
        border:none;
        margin: toRem(6px) toRem(7px) toRem(6px) toRem(15px);
        padding-left: toRem(9px);
        vertical-align: middle;
      }
      input::-webkit-input-placeholder{
         background: url('../images/search-icon1.png') no-repeat 0 center;
         background-size: toRem(13px);
         font-size: toRem(12px);
         color:#999;
         padding-left:toRem(25px);
         //line-height: toRem(31px);
       }
      a{
        font-size: toRem(15px);
        color:#000;
        text-decoration: none;
        //line-height: toRem(40px);
      }
    }
    &:nth-child(2){
      padding:toRem(15px) 0 0 toRem(15px);
     >h2{
        margin-bottom: toRem(15px);
        font-size: toRem(15px);
        color:#1a1a1a;
      }
        .search-list{
          a{
            //float: left;
            //list-style: none;
            display: inline-block;
            width:toRem(113px);
            height:toRem(31px);
            background: #f4f4f4;
            margin: 0 toRem(20px) toRem(19px) 0;
            border-radius: toRem(2px);
            text-align: center;
            line-height: toRem(31px);
            font-size: toRem(13px);
          }
        }
    }
    &:nth-child(3){
      height:toRem(50px);
      margin-top:toRem(15px);
      button{
        width:50%;
        line-height: toRem(50px);
        border:none;
        font-size: toRem(15px);
        &:nth-child(1){
          background: #e9e9e9;
          color:#666;
        }
        &:nth-child(2){
          background: #ff6e17;
          color:#fff;
        }
      }
    }
  }
}

.box{
  position: absolute;
  height:100%;
  width: 100%;
  //top:toRem(109px);
  top:0;
  z-index: 10;
  background: #000;
  opacity: .5;
  display:none;
  &.show{
    display: block;
  }
}
